<!--==========================
  About Section
  ============================-->
<section id="about">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">About the author</h3>

      </div>
    </div>
  </div>
  <div class="container about-container wow fadeInUp">
    <div class="row">



      <div class="col-md-6">
        <div class="col-md-12 about-img"></div>

      </div>

      <div class="col-md-6">


        <div class="col-md-12 about-content">
          <h4 class="about-title">Michele Beute (Tanty Mauvais)
          </h4>
          <p class="about-text ">
            On a grey February morning in the 60’s Michele arrived at Southampton docks, United Kingdom on a boat transporting bananas
            from Trinidad and Tobago. She was carried down the ship’s gangplank in the arms of her grandmother, ‘Mamanen’,
            with whom she travelled and lived with for the first year of her life in the UK. Together with ‘Daddy Raymond’,
            Michele’s step-grandfather, Mamanen faced the harsh challenges of finding accommodation as a West Indian immigrant
            with a small child. Michele’s poem captures elements of her early childhood when it addresses the immgration
            issue facing the Windrush generation.


          </p>
          <p class="about-text">
            Today, Michele is a trained lawyer who specialises in immigration law. She is an associate lecturer at London University’s
            Queen Mary and Birkbeck colleges where she lectures business at undergraduate and postgraduate levels. Michele
            has taught a range of business subjects to MBA students at Heriott Watt University, Kings College University
            of London and trained senior members of Kuwait’s judiciary on behalf of Kuwait University. She is an independent
            consultant with expertise in designing and delivering world-class executive training courses and developing small
            businesses.
          </p>
          <p class="about-text">
            Michele has travelled extensively and lived internationally for many years. She worked for the British Council in Kuwait
            and Sri Lanka and volunteered at a rural school in India working with deprived children. On 26 December 2004
            Michele was living in Sri Lanka when the tsunami devastated large swathes of the island. Michele set up and directed
            a charity to provide supplies and medical assistance to those affected by the tsunami.
          </p>
          <p class="about-text">
            Michele grew up in south London and has maintained strong links with her Caribbean culture which provides her with material
            for her creative work. She has a passion for writing poetry and children’s short stories mainly based on her
            Trinbago heritage. She writes under the pseudonym’ Tanty Mauvais’ which is derived from the French creole expression;
            ‘mauvais langue’ literally translated means ‘bad tongue’ and is used to describe a gossiper. Being a ‘maccometer’
            (someone attuned to gossip) Tanty Mauvais loves telling others about Caribbean cultural happenings through the
            medium of poems and short stories.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>