<!--==========================
  Header Section
  ============================-->
<header id="header" style="">
  <div class="container">

    <div id="logo" class="pull-left">
      <ul class="nav-menu">
        <li>
          <a href="#hero" class="nav-menu">TAUNTY MAUVAIS</a>
        </li>
      </ul>

      {{!--
      <img src="{{logo}}" alt="{{logoCaption}}" title="{{logoTitle}}"></img> --}}
      </a>
      <!-- Uncomment below if you prefer to use a text image -->
      <!--<h1><a href="#hero">Header 1</a></h1>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active">
          <a href="#hero">Home</a>
        </li>

        {{!--
        <li>
          <a href="#muestra">D</a>
        </li> --}}
        <li>
          <a href="#services">Poetry</a>
        </li>
        <li>
          <a href="#about">About the Author</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
        {{!--
        <li>
          <a href="/blog">Blog</a>
        </li> --}} {{!--
        <li>
          <a href="/register">Iniciar sesión</a>
        </li> --}} {{!-- add modal to register --}}
      </ul>
    </nav>
    <!-- #nav-menu-container -->



  </div>
</header>
<!-- #header -->