<div id="preloader"></div>

<!--==========================
  Hero Section
  ============================-->
<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      {{> header}} {{!--
      <div class="hero-logo">
        <img class="" src="{{logo}}" alt="Teradam logo">
      </div> --}}
      <h1>{{h1Title}}</h1>
      <h2>Poetry from the Caribbean

      </h2>
      <div class="container">
        <p class="hero-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est architecto veritatis non sit earum impedit nihil eligendi quasi
          labore quo, at laborum inventore rem, pariatur deserunt alias. Nobis, fugiat qui?
        </p>

        <p class="hero-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam quam dolores excepturi. Hic cupiditate alias quibusdam
          atque saepe reiciendis ea!
        </p>
        <p align="center" class="hero-last-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, ipsa?
        </p>
      </div>

      <div class="actions" style="margin-bottom:50px;">
        <a href="#muestra" class="btn-get-started">READ MORE</a>

      </div>





    </div>
  </div>


</section>