<!--==========================
  About Section
  ============================-->
<section id="muestra">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">

        <h3 class="section-title">Poetry from the Caribbean</h3>
        <p align="center" class="about-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, ipsam!
        </p>
      </div>
    </div>
  </div>
  <div class="container about-container wow fadeInUp">
    <div class="row">





      <div class="col-md-12">


        <div class="col-md-12 about-content" style="background:transparent;">
          <h4 class="about-title">From Mau to Madeleine
          </h4>
          <p class="about-text">
            <i>After the abolition of slavery, the British needed labour to keep generating their wealth from a prized commodity
              – SUGAR. Freed Slaves were replaced with Indentured Indian labourers. Only the labels changed little else.
              These Indians were shipped across the kala pani (black water) to British sugar plantations across the globe
              – a concept conceived by Sir John Gladstone. They sacrificed their freedom and identity.
              <br/>This is the story of my grandfather’s journey – who was taken to a plantation called Usine St Madeleine.
            </i>
          </p>
          <p class="poem ">
            Achchha, Achchha, Arkati tell me where to sign,
            <br/> Your cunning persuasion convinced my mind.
            <br/>I’ll become exceedingly wealthy you say?
            <br/>Live well on a bountiful island not far away?
            <br/>Of course I want a better life!
            <br/>Earning money to marry and support a wife.
          </p>
          <p class="poem">
            <br/>I can wear shiny shoes like you Britishers do!
            <br/>A white starched collar and stripy suite too!
            <br/>Five full years of pay?
            <br/>And then I can leave and make my way?
            <br/>Back to Mau village in Uttar Pradesh
            <br/>Not to reap paddy rice to thresh,
            <br/>But to build my own home
            <br/>In which to praarthana and chant Om.
            <br/>Journey to Lucknow Depot to be certified.
            <br/>No lice, worms, TB; neither cockeyed.
            <br/>Declared fit to emigrate! I swell with pride.
            <br/>But must face my parents’ heartbreak and chide.
            <br/>Goodbye father, mother and Pundit Devdas dear friend
            <br/>I’m leaving, but with money I’ll return for the temple to mend!
          </p>
          <p class="poem">
            <br/>There she sits in Bengal Bay
            <br/>Sleek and teak pausing to ferry us away
            <br/>Embarking for some island called Trinidad today.
            <br/>Her name is Fatel Razak
            <br/>Sturdy and strong; no pirates dare attack.
          </p>
          <p class="poem">
            <br/>Three months across the kala pani we sail
            <br/>Crushed in her belly I piss and vomit in a pail.
            <br/>Hindi, Kari Boli and Urdu too
            <br/>Languages creating an East Indian brew
            <br/>Brahmin and Dalit side by side
            <br/>Something in India we’d never abide.
          </p>
          <p class="poem">
            <br/>Long, thick, glossy, black hair
            <br/>Brown, almond eyes catch my stare.
            <br/>Vibrant sari wrapping the perfect gift,
            <br/>Causing my heart to stop, then shift.
            <br/>Pleeeeease marry me now and be my wife! Shukriya, Jhoti. I
            <br/>will love you for all of my life!
          </p>

          <p class="poem">
            <br/>Shree Baldeo Singh is my name
            <br/>Rajput and proud; from Mau village I came.
            <br/>Whip me, strip me, beat me, aren’t you ashame?
            <br/>Meagre food, filthy water, shacks of ex-slaves
            <br/>Strip me of my dignity and insist I behave.
            <br/>In this punishing heat I sweat gall
            <br/>Toiling in your cane fields so tall.
            <br/>Weeping whip wounds inflicted by a maniac
            <br/>Haldi paste smears my wounded back.
            <br/>What more can you take?
            <br/>Except my spirit to break.
          </p>
          <p align="center" class="poem">
            <br/>My dream to go home I’ll never surrender
            <br/>My love for India grows stronger and tender.
            <br/>This passion to go back will never die!
            <br/>And your promise of wealth was a deceitful lie.
          </p>
          <p class="poem">
            <br/>Your affluence grows, my body wanes
            <br/>This wretched life, my memory stains.
            <br/>The great Lord Krishna forgives you
            <br/>And I pray, that one day I may too.
          </p>





          <div class="top-buffer" style="height:40px;"></div>

        </div>
      </div>
    </div>

  </div>
</section>